<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61657563349-jdpji0ic3mkum4sejfcotjq3q9tjnb9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61657563349-jdpji0ic3mkum4sejfcotjq3q9tjnb9d</string>
	<key>API_KEY</key>
	<string>AIzaSyDpH4JDlSokk14an5liyqOspdqfyYmeoZw</string>
	<key>GCM_SENDER_ID</key>
	<string>61657563349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learningdart</string>
	<key>PROJECT_ID</key>
	<string>myverifytool-project</string>
	<key>STORAGE_BUCKET</key>
	<string>myverifytool-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61657563349:ios:38faf6af051b823b0fa25c</string>
</dict>
</plist>